[Unit]
Description=Camera Switcher Controller service
After=local-fs.target


AssertPathExists=/usr/local/bin/camera_control

[Service]
ExecStart=/bin/bash -c "/usr/local/bin/camera_control"
Restart=always
RestartSec=1
NoNewPrivileges=true

[Install]
WantedBy=sysinit.target

